body {
    background-color:#CF102D;
}


.header {
    font-family: Spectral SC;
    text-decoration: underline;
    font-weight: bold 500;
    font-size: x-large;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    color: white;
    margin: 0;
    margin-top: auto;
    margin-bottom: auto;
}

.wrapper {
    background-color: #CF102D;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    margin: 10px;
    padding: 20px;
}

.content {
    font-family: Spectral SC;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(255,213,32,1) 100%, rgba(0,212,255,1) 100%);
    color:white;
    width: 500px;
    margin: auto;
}

.userInput {
    width: 535px;

}